<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gestionale OiR{% block title %}{% endblock %}</title>

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Balthazar&display=swap" rel="stylesheet"> 

  <!-- Custom styles for this template -->
  <link href="/static/client/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">
    


  <!-- Header -->
  <div class="masthead">
    <div class="container d-flex h-100">
      <div class="mx-auto">
        <h1 class="mx-auto my-0 text-uppercase">Gestionale Oir</h1>
            {% block content %}
            {% endblock %}
            
        {% if user.is_authenticated %}
          <p><a href="{% url 'logout' %}">Logout</a></p>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/client/vendor/jquery/jquery.min.js"></script>
  <script src="/static/client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/client/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
