#table_fieldset {
    width: 100%
}

#table_fieldset td, #table_fieldset th{
    padding: 0.5em;
}

#table_fieldset label {
    width: auto;  !important;
}

#table_fieldset .readonly {
    padding-top: 6px;
}
