{% extends 'base.html' %}

{% block title %} - Dettaglio px di: {{ pg.name }} {% endblock %}

{% block content %}

    <h2>Dettaglio px di: {{ pg.name }}</h2>

    <h4>Px guadagnati</h4>
    
    <table>
    <tr>
        <th>Evento</th><th>Px tot</th><th>Px fissi</th><th>Interpret.</th><th>Costumist.</th><th>Qualità Gioco</th><th>Qualità Azioni</th>
    </tr>
    {% for g in pg.guadagni.all %}
    <tr>
        <td>{{ g.evento }}</td>
        <td>{{ g.px_tot }}</td>
        <td>{{ g.px_fissi }}</td>
        <td>{{ g.interpretazione }}</td>
        <td>{{ g.costumistica }}</td>
        <td>{{ g.qualita_gioco }}</td>
        <td>{{ g.qualita_azioni }}</td>
    </tr>
    {% endfor %}
    </table>
    
    <br />
    
    <h4>Px spesi</h4>
    
    <table>
    <tr>
        <th>Evento</th><th>Px spesi</th><th>Motivazione</th>
    </tr>
    {% for g in pg.spese.all %}
    <tr>
        <td>{{ g.evento }}</td>
        <td>{{ g.px_spesi }}</td>
        <td>{{ g.motivazione }}</td>
    </tr>
    {% endfor %}
    </table>
    

{% endblock %}
