{% extends 'base.html' %}

{% block title %} - Dettaglio px di: {{ pg.name }} {% endblock %}

{% block content %}

    <h2>Stato attuale di: {{ pg.name }}</h2>
    
    <table>
    <tr>
        <th>Nome</th>
        <th>Congrega</th>
        <th>Genea</th>
        <th>Essenza</th>
        <th>Voluntas</th>
    </tr>
    <tr>
        <td>{{ pg.name }}</td>
        <td>{{ pg.congrega }}</td>
        <td>{{ pg.genea }}</td>
        <td>{{ pg.essenza_c }}</td>
        <td>{{ pg.voluntas_c }}</td>        
    </tr>

    <tr>
        <th>Px liberi</th>
        <th>Px totali</th>
        <th>Aetas</th>
        <th>Ess. max</th>
        <th>Canal.</th>
    </tr>
    <tr>
        <td>{{ pg.px_liberi }}</td>
        <td>{{ pg.px_tot }}</td>
        <td>{{ pg.aetas }}</td>
        <td>{{ pg.essenza }}</td>
        <td>{{ pg.canal }}</td>        
    </tr>    
    </table>    
    
    <br /><br />
    
    <table>
    <tr>
    <td>
    
    <h4>Poteri</h4>
    
    <table>
    <tr>
        <th>Nome</th>
        <th>Livello</th>
    </tr>    
    {% for pr in pg.poteri.all %}
    <tr>
        <td>{{ pr.potere }}</td>
        <td>{{ pr.livello }}</td>
    </tr>
    {% endfor %}
    </table>    
    
    </td>
    <td>
    
    <h4>Background</h4>
    
    <table>
    <tr>
        <th>Nome</th>
        <th>Livello</th>
    </tr>    
    {% for b in pg.bgk %}
    <tr>
        <td>{{ b.nome }}</td>
        <td>{{ b.livello }}</td>
    </tr>
    {% endfor %}
    </table>   
    
    <h4>Influenze</h4>
    
    <table>
    <tr>
        <th>Nome</th>
        <th>Livello</th>
    </tr>    
    {% for b in pg.inf %}
    <tr>
        <td>{{ b.nome }}</td>
        <td>{{ b.livello }}</td>
    </tr>
    {% endfor %}
    </table>  
    
    </td></tr>
    </table>    
    
    <h4>Stato</h4>

    <h4>Storico Px guadagnati</h4>
    
    <table>
    <tr>
        <th>Evento</th><th>Px tot</th>
        <!--<th>Px fissi</th><th>Int.</th><th>Cost.</th><th>Q. Gio.</th><th>Q. Azi.</th>-->
    </tr>
    {% for g in pg.guadagni.all %}
    <tr>
        <td>{{ g.evento }}</td>
        <td>{{ g.px_tot }}</td>
        
        <!--
        <td>{{ g.px_fissi }}</td>
        <td>{{ g.interpretazione }}</td>
        <td>{{ g.costumistica }}</td>
        <td>{{ g.qualita_gioco }}</td>
        <td>{{ g.qualita_azioni }}</td>
        -->
    </tr>
    {% endfor %}
    </table>
    
    <br />
    
    <h4>Storico Px spesi</h4>
    
    <table>
    <tr>
        <th>Evento</th><th>Px spesi</th><th>Motivazione</th>
    </tr>
    {% for g in pg.spese.all %}
    <tr>
        <td>{{ g.evento }}</td>
        <td>{{ g.px_spesi }}</td>
        <td>{{ g.motivazione }}</td>
    </tr>
    {% endfor %}
    </table>
    

{% endblock %}
